---
layout: default
---

<header>
{% if site.site_options.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
  <div class="dashed"></div>
{% endif %}

  <h1>{{ site.title }}</h1>
  {% if site.site_options.show_description == true %}
    <p>{{ site.description }}</p>
  {% endif %}
</header>

{{ content }}

<!-- <section id="custom-section" style="display: flex;">
  <div style="flex: 1;">
    <p>I am a postdoctoral researcher at Pacific Northwest National Laboratory, working on improving urban representation in Climate Models. 
      I specialize in the application of machine learning and deep learning techniques 
      in geospatial analysis. Currently, I am working on projects related to urban flooding, informal road detection in Central America, 
      global surface water detection, global river width measurements, and assessing the impact of humanitarian assistance programs on behavior and landscape. 
      I enjoy extracting meaningful information from satellite imagery with a focus on the 
      drivers of climate change and their impacts.
      I am working at the <a href="https://beth-tellman.github.io/"> social [pixel] lab </a> (University of Arizona) with Dr. Beth Tellman.</p>
  </div>
  <div style="flex: 1;">
    <img src="images/me.jpg" alt="Image description">
  </div>
</section> -->

<!-- Introduction Section -->
<section id="custom-section" class="flex-container">
  <div class="flex-item">
    <p>
      Postdoctoral researcher at Pacific Northwest National Laboratory (PNNL)'s ACES Division.<br>
      Primary work on urban flooding and vegetation.<br>
      Satellite imagery processing using deep learning and Google Earth Engine.<br>
      Working with TC Chakraborty to improve urban representation in Climate Models using satellite imagery.<br>
      Flood related work with Dr. Beth Tellman at University of Arizona's Social [Pixel] Lab.<br>
      Surface water mapping with Dr. Fritz Pollicelli at NASA Goddard.
    </p>
  </div>
  <div class="flex-item">
    <img class="profile-image" src="images/me.jpg" alt="Portrait of Rohit Mukherjee, a postdoctoral researcher at PNNL" loading="lazy">
  </div>
</section>



<!-- <div class="container" style="display:flex;" id="research_list">
  <div style="flex:1;">
    <h2>Research Projects</h2>
    <ul>
      <li><a href="#urban-flooding">Urban Flooding</a></li>
      <li><a href="#informal-roads">Informal Roads in Central America</a></li>
      <li><a href="#global-surface-water">Global Surface Water Mapping</a></li>
    </ul>
  </div>
  <div style="flex:1;margin-top:90px;">
    <ul>

      <li><a href="#desert-floods">Desert Floods in Arizona</a></li>
      <li><a href="#usaids">Assessing Intervention Programs by USAID</a></li>
    </ul>
  </div>
</div>

<div id="table-of-contents" style="display:flex; ">
  <div style="flex:1;">
    <h2>Overview</h2>
    <ul>
      <li><a href="#tools">Tools</a></li>
      <li><a href="#resources">Resources I Highly Recommend</a></li>
      <li><a href="#publications">Publications</a></li>
      <li><a href="#presentations">Recent Presentations</a></li>
      <li><a href="#lab-contributions">Lab Contributions</a></li>
      <li><a href="#grant-proposals">Grant Proposals</a></li>
      <li><a href="#dissertation">Dissertation</a></li>
    </ul>
  </div>
  <div style="flex:1; margin-top:90px;">
    <ul>

      <li><a href="#awards">Awards</a></li>
      <li><a href="#teaching">Teaching Experience</a></li>
      <li><a href="#education">Education</a></li>
      <li><a href="#industry">Industry Experience</a></li>
      <li><a href="#fieldwork">Field Work</a></li>
      <li><a href="#academic-service">Service</a></li>
    </ul>
  </div>
</div> -->

<h2>Table of Contents</h2>
<ul>
  <li><em>Research Projects</em>
    <ul>
      <li><a href="#urban-flooding">Urban Flooding</a></li>
      <li><a href="#informal-roads">Informal Roads in Central America</a></li>
      <li><a href="#global-surface-water">Global Surface Water Mapping</a></li>
      <li><a href="#desert-floods">Desert Floods in Arizona</a></li>
      <li><a href="#usaids">Assessing Intervention Programs by USAID</a></li>
      <li><a href="#otherProj">Other Projects</a></li>
    </ul>
  </li>
  <li><a href="#tools">Tools</a></li>
  <li><a href="#resources">Resources I Highly Recommend</a></li>
  <li><a href="#publications">Publications</a></li>
  <li><a href="#presentations">Recent Presentations</a></li>
  <li><a href="#lab-contributions">Lab Contributions</a></li>
  <li><a href="#grant-proposals">Grant Proposals</a></li>
  <li><a href="#dissertation">Dissertation</a></li>
  <li><a href="#awards">Awards</a></li>
  <li><a href="#teaching">Teaching Experience</a></li>
  <li><a href="#education">Education</a></li>
  <li><a href="#industry">Industry Experience</a></li>
  <li><a href="#fieldwork">Field Work</a></li>
  <li><a href="#academic-service">Service</a></li>

</ul>


 
  <section id="urban-flooding">
    <h2>Urban Flooding</h2>
    <p> A NASA Terrestrial Hydrology Project. PI: Beth Tellman.</p>
    <p>We are trying to address issues related to urban flooding because it is more difficult 
      to map these floods due to the complex and heterogeneous urban landscape. For this purpose, we built a 
      hand-labeled dataset using PlanetScope to capture urban flooding in 14 cities 
      across the world called the <em>Urban Flood Observations</em> (UFO!). </p>
      <img src="images/THP.png" alt="THP image">
      <p><em> A sample from our training dataset built using Labelbox. Source: Planet. </em></p>
      <p>My talk on <a href="https://www.youtube.com/watch?v=mQQx-sbn9N4&ab_channel=IEEEGRSS">Youtube!</a></p>
      <a href="#top">top</a>
  </section>


  <section id="informal-roads">
    <h2>Informal Roads in Central America</h2>
    <p>A NASA LCLUC Project. Working with and learning a lot from Beth Tellman, Nicholas Magliocca, Matthew Fagan, Steven Sesnie, Erik Nielsen, Jennifer Devine, and Kendra McSweeney.</p>
    <p>We study how narco-trafficking drives Central American deforestation, using informal roads as indicators. 
      We created a locally-trained deep learning model that outperforms Microsoft and OSM in identifying roads. 
      To analyze the growth of roads since 2001, we are utilizing Landsat 7
      and combining other data sources to build a counter-factual model assessing narco-trafficking's impact on deforestation.
    </p>
    <img src="images/LCLUC.jpg" alt="LCLUC image">
    <p> <em> Markers of narco-trafficking in Central America. Sources: Planet and ESA. </em> </p>
    <a href="#top">top</a>
  </section>

  <section id="global-surface-water">
    <h2>Global Surface Water Mapping</h2>
    <p>A NASA ACCESS Project. Working with Fritz Pollicelli and Beth Tellman. </p>
    <p>We need validation datasets to evaluate the hundreds (thousands?) of surface water mapping methods using satellite imagery. 
      We built a globally sampled hand-labeled dataset using PlanetScope imagery. We built a Sentinel-1 model trained on Dynamic World-based weak labels data that 
      outperforms NASA's IMPACT flood dataset. We are now applying this model to extract river width globally on-demand using Sentinel-1 data for all river reaches
      from the impressive SWORD dataset. We are manually calculating effective river width using PlanetScope and then verifying using SWOT data.</p> 
    <img src="images/FZ.png" alt="FZ image">
    <p><em>Our 90 globally distributed samples overlayed on the different biomes. Source: World Wildlife Fund (WWF) Global Ecoregions Map</em></p>
    <a href="#top">top</a>
  </section>


  <section id="desert-floods">
    <h2>Desert Floods in Arizona</h2>
    <p>A Pima County Flood (Arizona) project.</p>
    <p>Keeping it local. We tried to map the fast moving floods in the Sonoran desert and found how difficult it is. 
      Instead of surface water, we identified wet soils after rainfall events using PlanetScope imagery to measure flood extent. 
      We examined the locations of road closures and identified locations where there should be road closures next time there was 
      flooding. </p>
    <img src="images/PCF.jpg" alt="PCF image">
    <p><em>Identifying regions where it flooded, but there weren't any road closures for safety. Source: Planet.</em></p>
    <a href="#top">top</a>
  </section>


  <section id="usaids">
    <h2>Assessing Intervention Programs by USAID</h2>
    <p>Project funded by USAID’s Bureau for Humanitarian Assistance (BHA). Working with University of Arizona's Institute for Resilience (AIR), Economics, Sociology Departments. </p>
    <p>We are working with BHA for developing metrics to assess the impact of projects funded by them through local NGOs that aims to bring about behavorial and landscape changes especially due to disasters.
      We are focusing on capturing landscape changes using satellite remote sensing, in order to provide BHA tools to assess the impact of their programs. </p>
    </p>
    <a href="#top">top</a>
  </section>

  <section id="otherProj">
    <h2>Other Projects I am a part of:</h2>
    <p><b>NASA CSDA </b> Funded Project on developing a global high resolution hand labeled flood extent mapping training and validation dataset called FloodPlanet. <a href="https://docs.google.com/presentation/d/1EEMBACsDTm9SlM-o443m-UxoHI3rvlrT/edit?usp=sharing&ouid=109501448293982423476&rtpof=true&sd=true"> Link to Presentation</a>.</p>
    <p><b>NASA CSDA </b> Funded Project on Evaluating Blacksky where I am a Co-Investigator. </p>
    <a href="#top">top</a>
  </section>



<section id="tools">
  <h2>Tools</h2>
  <p><strong>Geospatial Technologies:</strong> I work with geospatial python libraries like rasterio, geopandas, shapely,
    and geemap all the time. GDAL is my favorite (huge shout out to <a href="https://courses.spatialthoughts.com/gdal-tools.html">Spatial Thoughts by Ujaval Gandhi</a>). 
    When I need to visualize, I mostly use QGIS and Google Earth Engine. To download spatial data, I use GEE, <a href="https://www.earthdata.nasa.gov/eosdis/science-system-description/eosdis-components/cmr">NASA CMR</a>, and <a href="https://hyp3-docs.asf.alaska.edu/using/api/">Hyp3</a>
    Working with geospatial data means that I have to troubleshoot with almost every new dataset I work with, 
    but I have those in our lab's private repos for now. Nothing works out of the box so I have incredible respect for folks who build products with geospatial data. 
  </p>

  <p><strong>Machine Learning Tools:</strong> I learned deep learning using Keras and TensorFlow (with help from Andrew Ng 
    and Andrej Karpathy's materials) many years ago, but <a href="https://docs.fast.ai/">Fastai</a> 
    with Pytorch quickly became my preferred library due to their simplicity. Thank you, Jeremy Howard and Rachel Thomas.</p>

  <p><strong>Development Environments:</strong> I love coding with vscode (with the help of Copilot-X and ChatGPT). AI tools improved my efficiency by a significant amount and is making me promise more work in even less time (not good). For sharing code I use Jupyter Notebooks (and Google Colab too, but it is getting costly). </p>

  <p><strong>Computational Platforms:</strong> When training larger models, I use Google Colab (initial trial runs), Lambdabox (our lab has 2 3080s), 
    High-Performance Computing (HPC) from UofA, and Alaska Science Facility's OpenSARLab (specifically for Sentinel-1 processing).</p>
  
  <p><strong>Image Annotation Tools:</strong> I spent some time annotating images using <a href="https://labelbox.com/">Labelbox</a> and <a href="https://impact.earthdata.nasa.gov/labeler/">NASA ImageLabeler</a>. Labelbox has more features but NASA ImageLabeler is quite impressive in itself. </p>
  <a href="#top">top</a>
</section>

<section id="resources">
  <h2>Resources I highly recommend</h2>
  <ul>
    <li>If you want a crash course on how to work with spatial data, raster and vector: <a href="https://carpentries-incubator.github.io/geospatial-python/">https://carpentries-incubator.github.io/geospatial-python/</a></li>
    <li>If you want to learn about GDAL, follow along with the GDAL tutorial: <a href="https://spatialthoughts.com/courses/mastering-gdal-tools/">https://spatialthoughts.com/courses/mastering-gdal-tools/</a></li>
    <li>If you want to get started with deep learning: <a href="https://course.fast.ai/">https://course.fast.ai/</a> and if you want to go one step further:  <a href="https://walkwithfastai.com/">https://walkwithfastai.com/</a>. Jeremy Howard has a Machine Learning course, Andrew Ng's course is invaluable too.</li>
    <li>Please read their blogs, especially the ones on their geospatial workflows: <a href="https://developmentseed.org/">https://developmentseed.org/</a></li>
    <li>Everyone knows this one. For GEE with python: <a href="https://geemap.org/">geemap by Qiusheng Wu</a></li>
  </ul>
  <a href="#top">top</a>
</section>

<section id="publications">
  <h2><strong>Publications</strong></h2>
  <ul>
    <li>Patel, Nilanchal; <strong>Mukherjee, Rohit</strong>. (2015). Extraction of impervious features from spectral indices using artificial neural network. <em>Arabian Journal of Geosciences</em>, 8(6), 3729-3741.</li>
    <li><strong>Mukherjee, Rohit</strong>; Liu, Desheng. (2021). Downscaling MODIS spectral bands using deep learning. <em>GIScience &amp; Remote Sensing</em>, 58(8), 1300-1315.</li>
    <li>Giezendanner, Jonathan; <strong>Mukherjee, Rohit</strong>; Purri, Matthew; Thomas, Mitchell; Mauerman, Max; Islam, AKMl; Tellman, Beth. (2023). Inferring the past: A combined CNN-LSTM deep learning framework to fuse satellites for historical inundation mapping. <em>Proceedings of the IEEE/CVF conference on computer vision and pattern recognition</em>, 2155-2165.</li>
    <li><strong>Mukherjee, Rohit</strong>; Policelli, Frederick; Wang, Ruixue; Arellano-Thompson, Elise; Tellman, Beth; Sharma, Prashanti; Zhang, Zhijie; Giezendanner, Jonathan. (2024). A globally sampled high-resolution hand-labeled validation dataset for evaluating surface water extent maps. <em>Earth System Science Data</em>, 16(9), 4311-4323.</li>
    <li><strong>Mukherjee, Rohit</strong>; Liu, Desheng. (2023). Spatial and spectral translation of Landsat 8 to Sentinel-2 using conditional generative adversarial networks. <em>Remote Sensing</em>, 15(23), 5502.</li>
    <li>Zhang, Zhijie; Giezendanner, Jonathan; <strong>Mukherjee, Rohit</strong>; Tellman, Beth; Melancon, Alexander; Purri, Matt; Gurung, Iksha; Lall, Upmanu; Barnard, Kobus; Molthan, Andrew. (2025). Assessing inundation semantic segmentation models trained on high-versus low-resolution labels using floodplanet, a manually labeled multi-sourced high-resolution flood dataset. <em>Journal of Remote Sensing</em>, 5, 0575.</li>
    <li>Magliocca, Nicholas R; Sink, Carter D; Devine, Jennifer A; Fagan, Matthew E; Aguilar-Gonzalez, Bernardo; McSweeney, Kendra; <strong>Mukherjee, Rohit</strong>; Nielsen, Erik A; Sesnie, Steven E; Tellman, Beth. (2025). A data pedigree system to support geospatial analyses of human-environment interactions in data poor contexts. <em>International Journal of Geographical Information Science</em>, 39(6), 1223-1246.</li>
    <li>Diana W. Githu; Zack Guido; Erica A. Goto; Corrie Hannah; James Kamunge; Eligah Mutanda; Tim J. Finan; Padraic Finan; Karyn M. Fox; Suzanne Nelson; Prashanti Sharma; <strong>Rohit Mukherjee</strong>. (2026). Humanitarian assistance and its expected behavior and land use changes: Insights from Bangladesh and Kenya. <em>International Journal of Disaster Risk Reduction</em>, 106036.</li>
  </ul>
  <a href="#top">top</a>
</section>


<section id="presentations">
  <h2><strong>Recent Presentations</strong></h2>
  <ul>
    <li>Mapping Urban floods using multi-sensor satellite imagery and deep learning, IGARSS (2023), Pasadena. <a href="https://docs.google.com/presentation/d/1fToW8vW4V00VmhLRZwLSZkhdCVRlB5OE/edit?usp=sharing&ouid=109501448293982423476&rtpof=true&sd=true">Link to slides.</a></li>
    <li>Mapping urban floods using PlanetScope and deep learning - 2023 Machine Learning Meets Flood Forecasting Workshop by Google, Virtual. <a href="https://docs.google.com/presentation/d/1DuF49reWCtg6f6SWaXz1rw9v0wDRQ5Qd/edit?usp=sharing&ouid=109501448293982423476&rtpof=true&sd=true">Link to poster.</a></li>
    <li>Towards Mapping Clandestine Infrastructure in Central America's Protected Areas Affected By Narco-trafficking Using Multi-sensor Data Fusion and Deep Learning, CLAG (2023), Tucson, AZ. <a href="https://docs.google.com/presentation/d/1soxhh4Vebe5Q56CFzuf55DAFaQJGthFp5tlCSx1mCgI/edit?usp=sharing">Link to slides.</a></li>
    <li>Training and validating deep learning models for urban flood mapping using public and commercial satellite sensors, AGU Fall Meeting (2022), Chicago. <a href="https://docs.google.com/presentation/d/1Ana0vZ3qTlji_tOtdraAMyDNVGkfa4EyrksymABS47M/edit?usp=sharing">Link to slides.</a></li>
    <li>Surface water detection from passive microwave data during flood events using deep learning, AGU Fall Meeting (2022), Chicago. <a href="https://docs.google.com/presentation/d/1VpacClJOzl5jEv0N2XcPSq5HVkvzkIef/edit?usp=sharing&ouid=109501448293982423476&rtpof=true&sd=true">Link to slides.</a></li>
    <li>Flooding in the desert: Assessing the value of satellite observations of inundation from the North American Monsoon with the Pima County Regional Flood Control District, AGU Fall Meeting (2022), Chicago. <a href="https://docs.google.com/presentation/d/1IGzfHu52bVCYorSsrju_wb6fyJfQnjiq01Iv2bLiP3o/edit?usp=sharing">Link to slides.</a></li>
    <li>Improving the utility of remote sensing for flood forecasting through machine learning, NASA SERVIR Annual Applied Science Team Meeting (2022), Virtual. <a href="https://docs.google.com/presentation/d/1soxhh4Vebe5Q56CFzuf55DAFaQJGthFp5tlCSx1mCgI/edit?usp=sharing">Link to slides.</a></li>
  </ul>
  <a href="#top">top</a>
</section>

<section id="invited-talks">
  <h2><strong>Invited Talks</strong></h2>
  <ul>
    <li>Invited to talk on Mapping Clandestine Roads in Central America at the Machine Learning for Remote Sensing Talk Series (2022). <a href="https://docs.google.com/presentation/d/1IGzfHu52bVCYorSsrju_wb6fyJfQnjiq01I22mZeNZQ/edit?usp=sharing">Link to slides.</a></li>
    <li>Invited to talk on Spatial and Spectral Harmonization between Landsat 8 and Sentinel-2 at FloodBase (2021). <a href="https://docs.google.com/presentation/d/1B9158AmSIb1swM3wtJx5X7BqSN-Y5aub/edit?usp=sharing&ouid=109501448293982423476&rtpof=true&sd=true">Link to slides.</a></li>
  </ul>
  <a href="#top">top</a>
</section>



<section id="lab-contributions">
  <h2>Lab Contributions</h2>
  <ul>
    <li>Currently providing mentorship to two graduate students. Previously provided mentorship to two other graduate students. </li>
    <li>Developed the lab's computational infrastructure to support various research projects.</li>
    <li>Put together a learning plan to help lab members apply deep learning in geospatial scenarios.</li>
    <li>Implemented coding standards and GitHub use rules to maintain version control and improve collaboration within the lab.</li>
    <li>Offering hands-on training to graduate students who have limited coding experience, focusing on Machine Learning and Deep Learning to enhance their skills and research capabilities.</li>
  </ul>
  <a href="#top">top</a>
</section>

<section id="grant-proposals">
  <h2><strong>Grant Proposals</strong></h2>
  <ul>
    <li>Co-wrote a successful proposal titled - "Enhancing the Evidence for Humanitarian Action (EEHA) in the Face of Climate Change" with Arizona Institute for Resilience funded by USAID's BHA.</li>
    <li>Wrote a proposal for NASA's use of Capella SAR data, which unfortunately was not selected for funding.</li>
    <li>Working on another one Fall 23!</li>
  </ul>
  <a href="#top">top</a>
</section>


<section id="dissertation">
  <h2>PhD Dissertation</h2>
  <p><em><b>"Improving Satellite Data Quality and Availability: A Deep Learning Approach"</b></em></p>

  <p>This research involved improving the quality (spatial, spectral resolutions) and availability (temporal resolution) of existing satellite image products using deep learning models. The study focused on utilizing techniques such as <b>deep residual encoder-decoder networks</b> and <b>generative adversarial networks</b> to enhance satellite images from sources like <b>MODIS</b>, <b>Sentinel-2</b>, and <b>Landsat 8</b>. The work is aimed to advance <b>satellite image fusion methodologies</b> for various applications.</p> 
  <p>Investigated several aspects of applying convolution networks and generative adversarial learning on satellite imagery. Asked and answered questions on optimal loss functions including adversarial learning. Demonstrated the advantages of fine tuning on your region of interest among several other insights! Spending hours deep learning training models (and failing most experiments) is at least helping me save time now.</p>

  <p><a href="https://docs.google.com/presentation/d/1llPJddxodo1s0_afQSn4HpJ9d_PmIksS/edit?usp=sharing&ouid=105622172800104875164&rtpof=true&sd=true">Link to slides.</a></p>
  <a href="#top">top</a>
</section>



<section id="awards">
  <h2>Awards</h2>
  <ul>
    <li><b>Lakshmanan Chatterjee Fellowship for Outstanding PhD Student</b> - Department of Geography, Ohio State University, 2019</li>
    <li><b>Cognizant Internal Awards</b> - Individual and Team awards for reduction of operation cost through the development of Automation Tools, Cognizant Technology Solutions, 2014</li>
    <li><b>First Place in Academics, M.Sc. Geo-Informatics</b> - Birla Institute of Technology, Mesra, India, 2011-2013</li>
  </ul>
  <a href="#top">top</a>
</section>


<section id="teaching">
  <h2>Teaching Experience</h2>
  <ul>
    <li><b>Fundamentals of GIS</b> - SU17, SU18, SU19 (In-person), SU20 (Online)</li>
    <li><b>Geographic Applications of Remote Sensing</b> - AU16, SP19, SP20 (Graduate)</li>
    <li><b>Spatial Systems and Modelling</b> - AU19 (Graduate)</li>
    <li><b>Spatial Data Analysis</b> - AU18 (Graduate)</li>
    <li><b>Mapping Our World</b> - SP18 (Undergraduate)</li>
    <li><b>Cartography</b> - AU17 (Graduate)</li>
    <li><b>Geospatial Databases</b> - AU16 (Graduate)</li>
    <li><b>Guest Lectures</b>: Geographic Applications of Remote Sensing - AU16, AU21 (in University of Arizona), SP19 (Graduate), Spatial Data Analysis - AU18 (Graduate).</li>
  </ul>
  <p>Fully taught <b>4 summer graduate-level courses</b> from 2017 to 2020. 
    Converted an <b>in-person GIS course to fully online</b> within a month's notice due to pandemic (very proud of this, since we had to navigate several uncertainties). 
    TAing for different courses every semester did not make it any easier but it did help me broaden my knowledge. 
    There was this one course in my first year (SP17) where I had to lead <b>3 labs</b> and <b>grade assignments for 144 students</b> every week. I still have not recovered from that experience.
  </p>
  
  
  <p>I discovered a <b>love for teaching</b>, even though I feel its not very valued in academia. 
    My <b>Student Evaluation of Instructions (SEIs)</b> greatly improved after midway through my PhD, 
    consistently scoring significantly higher scores than the mean of my Department and University. 
    I will indulge with one comment that I am proud of (from Summer 2020): 
    <em> "Rohit actually cared how you did in the class and always made it clear that he was available should you ever need any kind of help.
    He was extremely supportive especially considering the circumstances of this class being thrust online and so much more
    understanding which made this class so much better than XXXX" </em>
  </p>
  <a href="#top">top</a>
</section>


<section id="education">
  <h2>Education</h2>
  <ul>
    <li><strong>Ph.D., Geography</strong>, The Ohio State University (AU 2016 - SU 2020)<br>
      Focus Areas: Remote Sensing, Deep Learning<br>
      Advisor: Dr. Desheng Liu</li>
    <li><strong>M.Sc., Geo-Informatics</strong>, Birla Institute of Technology, Mesra, India (2011 - 2013)<br>
      <em>Thesis: "Extraction of Impervious Features through Artificial Neural Network using Spectral Indices"</em><br>
      Advisor: Dr. Nilanchal Patel</li>
    <li><strong>B.Sc., Computer Science</strong>, St. Xavier's College, Kolkata, India (2008 - 2011)<br>
      <em>Thesis: "A Social Networking Website for Academics (SharEd)"</em></li>
  </ul>
  <a href="#top">top</a>
</section>

<section id="industry">
  <h2>Industry Experience</h2>
  <p>Cognizant Technology Solutions, Programmer Analyst, 2013 - 2015. </p>
    <p>I wrote a script in VBA that scrapes data from a DOS application for ESCROW and automates the manual data entry process reducing time taken by 85%. 
    The employee who used to manually input all the data would run the script and then leave for a coffee break. Proud of that. 
    I also developed a webiste as an interface for ServiceNow ticket processing using C# and ASP dotNET. 
    Felt bored during my time there and decided to get a PhD.  
  </p>
  <a href="#top">top</a>
</section>


<section id="fieldwork">
  <h2>Field Work</h2>
  <p>Visited Costa Rica in the summer of 2023 with Prof. Matt Fagan and grads Elise and Felipe to collect training and validation data for mapping land use/cover and roads.</p>
  <img src="images/CR.png" alt="CR image">
  <p>Left: All collected road validation points in the Osa Peninsula (Costa Rica), Roads made of Asphalt and gravel from the nearby rivers 
    (that is why so many misclassifications between them!), me (happy) in Corcovado National Park, and (right) roads along oil palm plantations.</p>
    <a href="#top">top</a>
</section>


<section id="academic-service">
  <h2>Academic Service</h2>
  <ul>
    <li><strong>NASA Peer Review Panel</strong> (2023): Invited to review multiple proposals for potential funding.</li>
    <li><strong>College of Arts and Sciences Dean’s Student Advisory Board</strong> (2019-20): Provided feedback to the Dean of Arts and Sciences on graduate student issues and concerns.</li>
    <li><strong>Health, Wellness, and Safety Committee</strong> (2019-20)</li>
    <li><strong>Delegate - Council of Graduate Students</strong> (2018-20)</li>
    <li><strong>Judge - Career Development Grant</strong> (2019), <strong>Ray Travel Award</strong> (2018-19).</li>
    <li><strong>Geography Department Spring Panel Committee</strong> (2018): Organized a panel on Environmental Data Justice, involving professionals from the local community.</li>
  </ul>
  <a href="#top">top</a>
</section>


{% if site.site_options.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}
