---
layout: default
---

<header>
{% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
  <div class="dashed"></div>
{% endif %}

  <h1>{{ site.title }}</h1>
  {% if site.theme_config.show_description == true %}
    <p>{{ site.description }}</p>
  {% endif %}
</header>

{{ content }}

<style>
  /* Default styles */
  p, ul, ol {
    font-size: 16px;
  }
  
  /* Media query for screens smaller than 768px */
  @media (max-width: 767px) {
    p, ul, ol {
      font-size: 14px;
    }
  }
</style>

<section id="custom-section" style="display: flex;">
  <div style="flex: 1;">
    <p>I am a postdoctoral researcher specializing in the application of machine learning and deep learning techniques 
      in geospatial analysis. Currently. working on projects related to urban flooding, informal road detection in Central America, 
      global surface water detection, and assessing the impact of humanitarian assistance programs. 
      I enjoy extracting meaningful information from satellite imagery with a focus on the 
      drivers of climate change and their impacts.
      I am working at the social [pixel] lab (University of Arizona) with the simply brilliant Dr. Beth Tellman.</p>
  </div>
  <div style="flex: 1;">
    <img src="images/me.jpg" alt="Image description">
  </div>
</section>

<section id="custom-section">
  <h2>Urban Flooding</h2>
  <p> A NASA Terrestrial Hydrology Project</p>
  <p>We are trying to address issues related to urban flooding, rather than flooding in general. Why? Because it is more difficult to map urban floods due to complex and heterogeneous landscape. 
    We are attempting to predict a daily flood extent map for the entire flooding duration. This requires fusing data from multiple sources, 
    each with different spatial, spectral, temporal resolutions and measurement principles (optical and radar). 
    We built a hand-labeled dataset using PlanetScope to capture urban flooding in 14 cities across the world called the Urban Flood Dataset (maybe we will come up with a better name for it). </p>
    <img src="images/THP.png" alt="THP image">
    <p><em> A sample from our training dataset built using Labelbox. Source: Planet. </em></p>
    <p>Check out my talk on <a href="https://www.youtube.com/watch?v=mQQx-sbn9N4&ab_channel=IEEEGRSS">Youtube!</a></p>
</section>

<section id="custom-section">
  <h2>Informal Roads in Central America</h2>
  <p>A NASA LCLUC Project. Working with and learning a lot from Nicholas Magglioca, Matt Fagan, Steven Sesnie, Erik Nielsen, Jennifer Devine, and Kendra McSweeney.</p>
  <p>Narco-trafficking is a driver of deforestation in the protected forests in Central America. Markers of narco-trafficking are informal roads. We first developed a hand-labeled dataset to 
    label roads and buildings. We found that our deep learning model trained on the hand-labeled dataset identified roads better than Microsoft and OSM combined. Not a surprise as its a local model with local data, nevertheless, quite cool. 
    However, we are also interested in going back in time till 2001 using Landsat 7 (nototious for its SLC-off issue) to look at road growth over time. We are combining different sources of data to build a counter-factual model to measure the impact of narco-trafficking on deforestation.
  </p>
  <img src="images/LCLUC.jpg" alt="LCLUC image">
  <p> <em> Markers of narco-trafficking in Central America. Sources: Planet and ESA. </em> </p>
</section>

<section id="custom-section">
  <h2>Global Surface Water Mapping</h2>
  <p>A NASA ACCESS Project. Enjoying working with Fritz Pollicelli. </p>
  <p>We need validation datasets to evaluate the hundreds (thousands?) of surface water mapping methods using satellite imagery. We built a globally sampled dataset using PlanetScope imagery. 90 samples from all the Biomes. Currently building yet another deep learning model with a focus on sampling rather than the method with the help of the impressive SWORD dataset.</p>
  <img src="images/FZ.png" alt="FZ image">
  <p><em>Our 90 globally distributed samples overlayed on the different biomes. Source: World Wildlife Fund (WWF) Global Ecoregions Map</em></p>
</section>

<section id="custom-section">
  <h2>Desert Floods in Arizona</h2>
  <p>A Pima County Flood (Arizona) project.</p>
  <p>Keeping it local. We tried to map the fast moving floods in the Sonoran desert and found how difficult it is (hardly any literature on it too). Instead of surface water we looked for wet soils 
    immediately (next day around 10:30am) after a rainfall using PlanetScope imagery and comapared them to previous dry images to measure flood extent. We examined the locations of road closures and identified locations where there should be road closures next time there was flooding. </p>
  <img src="images/PCF.jpg" alt="PCF image">
  <p><em>Identifying regions where it flooded, but there weren't any road closures for safety. Source: Planet.</em></p>
  </section>


<section id="custom-section">
  <h2>Tools</h2>
  <p><strong>Geospatial Technologies:</strong> I work with geospatial python libraries like rasterio, geopandas, 
    and geemap all the time. GDAL is my favorite (huge shout out to <a href="https://courses.spatialthoughts.com/gdal-tools.html">Spatial Thoughts by Ujaval Gandhi</a>). 
    When I need to visualize, I use QGIS, Google Earth Engine, and Microsoft Planetary. To download spatial data, I use GEE, <a href="https://www.earthdata.nasa.gov/eosdis/science-system-description/eosdis-components/cmr">NASA CMR</a>, and <a href="https://hyp3-docs.asf.alaska.edu/using/api/">Hyp3</a>
    Working with geospatial data means that I have to troubleshoot with almost every new dataset I work with, 
    but I have those in our lab's private repos for now. Nothing works out of the box so I have incredible respect for folks who build products with geospatial data.
  </p>

  <p><strong>Machine Learning Tools:</strong> I learned deep learning using Keras and Tensforflow (with help from Andrew Ng 
    and Andrej Karpathy's materials) many years ago, but <a href="https://docs.fast.ai/">Fastai</a> 
    with Pytorch quickly became my preferred library due to their simpicity. Thank you, Jeremy Howard and Rachel Thomas.</p>

  <p><strong>Development Environments:</strong> I love coding with vscode (with the help of Copilot-X, which helps me try new things) and sometimes use Jupyter Notebooks (mostly to communicate findigs). </p>

  <p><strong>Computational Platforms:</strong> When training larger models, I use Google Colab (initial trial runs), Lambdabox (our lab has 2 3080s), 
    High-Performance Computing (HPC) from UofA, and occasionally Alaska Science Facility's OpenScienceLab.</p>
  
  <p><strong>Image Annotation Tools:</strong> I spent some time annotating images using Labelbox and NASA ImageLabeler. Labelbox has more features but NASA ImageLabeler is quite impressive in itself. </p>

</section>

<section id="custom-section">
  <h2>Resources I highly recommend</h2>
  <ul>
    <li>If you want a crash course on how to work with spatial data, raster and vector: <a href="https://carpentries-incubator.github.io/geospatial-python/">https://carpentries-incubator.github.io/geospatial-python/</a></li>
    <li>If you want to learn about GDAL, follow this along with the GDAL documentation: <a href="https://spatialthoughts.com/courses/mastering-gdal-tools/">https://spatialthoughts.com/courses/mastering-gdal-tools/</a></li>
    <li>If you want to get started with deep learning: <a href="https://course.fast.ai/">https://course.fast.ai/</a> and if you want to go one step further:  <a href="https://walkwithfastai.com/">https://walkwithfastai.com/</a></li>
    <li>Please read their blogs, especially the ones on their geospatial workflows: <a href="https://developmentseed.org/">https://developmentseed.org/</a></li>
    <li>Everyone knows this one. For GEE with python: <a href="https://geemap.org/">geemap by Qiusheng Wu</a></li>
  </ul>
</section>

<section id="custom-section">
  <h2>Publications</h2>
  <p>Mukherjee, R., &amp; Liu, D. (2021). Downscaling MODIS spectral bands using deep learning. GIScience &amp; Remote Sensing, 58(8), 1300-1315.</p>
  <p>Patel, N., &amp; Mukherjee, R. (2015). Extraction of impervious features from spectral indices using artificial neural network. Arabian Journal of Geosciences, 8, 3729-3741.</p>
  <p>Giezendanner, J., Mukherjee, R., Purri, M., Thomas, M., Mauerman, M., Islam, A. K. M., &amp; Tellman, B. (2023). Inferring the past: a combined CNN-LSTM deep learning framework to fuse satellites for historical inundation mapping. In Proceedings of the IEEE/CVF Conference on Computer Vision and Pattern Recognition (pp. 2154-2164).</p>
</section>

<section id="custom-section">
  <h2>Presentations</h2>
  <ul>
    <li>"Training and validating deep learning models for urban flood mapping using public and commercial satellite sensors" - AGU Fall Meeting, 2022</li>
    <li>"Surface water detection from passive microwave data during flood events using deep learning" - AGU Fall Meeting, 2022</li>
    <li>"Flooding in the desert: Assessing the value of satellite observations of inundation from the North American Monsoon with the Pima County Regional Flood Control District" - AGU Fall Meeting, 2022</li>
    <li>"Towards Mapping Clandestine Infrastructure in Central America's Protected Areas Affected By Narco-trafficking Using Multi-sensor Data Fusion and Deep Learning" - AGU Fall Meeting, 2022</li>
    <li>"Training and validating deep learning models of inundation extent using multi-source and high resolution satellite imagery" - Frontiers in Hydrology Meeting, 2022</li>
    <li>"Toward mapping flood impacts in urban areas using multi-sensor satellite data fusion" - AGU Fall Meeting, 2021</li>
    <li>"High resolution imagery to train and validate deep learning models of inundation extent for multiple satellite sensors" - AGU Fall Meeting, 2021</li>
  </ul>
</section>

<section id="custom-section">
  <h2>Dissertation</h2>
  <p>“Improving Satellite Data Quality and Availability: A Deep learning Approach”. Research involves the improvement in quality and availability of existing satellite image products using deep learning models. Keywords - MODIS, Sentinel-2, Landsat 8, deep residual encoder decoder network, generative adversarial network, satellite image fusion.</p>
</section>


<section id="custom-section">
  <h2>Awards</h2>
  <ul>
    <li>Lakshmanan Chatterjee Fellowship for Outstanding PhD Student - Department of Geography, Ohio State University, 2019</li>
    <li>Cognizant Internal Awards - Individual and Team awards for reduction of operation cost through the development of Automation Tools, Cognizant Technology Solutions, 2014</li>
    <li>First Place in Academics, M.Sc. Geo-Informatics - Birla Institute of Technology, Mesra, India, 2011-2013</li>
  </ul>
</section>

<section id="custom-section">
  <h2>Teaching Experience</h2>
  <ul>
    <li>Fundamentals of GIS - SU17, SU18, SU19 (In-person), SU20 (Online)</li>
    <li>Geographic Applications of Remote Sensing - AU16, SP19, SP20 (Graduate)</li>
    <li>Spatial Systems and Modelling - AU19 (Graduate)</li>
    <li>Spatial Data Analysis - AU18 (Graduate)</li>
    <li>Mapping Our World - SP18 (Undergraduate)</li>
    <li>Cartography - AU17 (Graduate)</li>
    <li>Geospatial Databases - AU16 (Graduate)</li>
    <li>Guest Lectures: Geographic Applications of Remote Sensing - AU16, AU21 (in University of Arizona), SP19 (Graduate), Spatial Data Analysis - AU18 (Graduate).</li>
  </ul>
  <p>Full taught 4 summer graduate-level courses from 2017 to 2020. 
    Converted an in-person GIS course to fully online within a month's notice due to pandemic (very proud of this, since we had to navigate several uncertainities). 
    TAing for different course every semester did not make it any easier but it did help me broaden my knowledge. 
    There was this one course in my first year (SP17) where I had to lead 3 labs and grade assignments for 144 students every week. I stil have not recovered from that experience.
  </p>
  
  
  <p>I discovered a love for teaching, even though I feel its not very valued in academia. 
    My Student Evaluation of Instructions (SEIs) greatly improved after midway through my PhD, 
    consistently scoring significantly higher scores than the mean of my Department and University. 
    I will indulge with one comment that I am proud of (from Summer 2020): 
    <em> "Rohit actually cared how you did in the class and always made it clear that he was available should you ever need any kind of help.
    He was extremely supportive especially considering the circumstances of this class being thrust online and so much more
    understanding which made this class so much better than XXXX" </em>
  </p>

</section>

<section id="custom-section">
  <h2>Industry Experience</h2>
  <p>Cognizant Technology Solutions, Programmer Analyst, 2013 - 2015. </p>
    <p>I wrote a script in VBA that scrapes data from a DOS application for ESCROW and automates the manual data entry process reducing by 85%. 
    The employee who used to manually input all the data would run it and then leave for a coffee break. Proud of that. 
    I also developed a webiste as an interface for ServiceNow ticket processing using C# and ASP dotNET. 
    Felt bored during my time there and decided to get a PhD.  
  </p>
</section>

<section id="custom-section">
  <h2>Service</h2>
  <ul>
    <li>NASA Peer Review Panel (2023)</li>
    <li>College of Arts and Sciences Dean’s Student Advisory Board (2019-20).  I provided feedback to the Dean of Arts and Sciences regarding graduate student issues and concerns.</li>
    <li>Health, Wellness, and Safety Committee (2019-2020)</li>
    <li>Delegate - Council of Graduate Students (2018-20)</li>
    <li>Judge - Career Development Grant (2019)</li>
    <li>Judge - Ray Travel Award (2018-19).</li>
    <li>Geography Department Spring Panel Committee (2018). I organized a panel on Environmental Data Justice, involving professionals from the local community.</li>
  </ul>
  <p> I enjoyed doing non-academic tasks for two main reasons: learning more about administration and advocating for mental health for grad students.</p>
</section>



<section id="custom-section">
  <h2>Field Work</h2>
  <p>Visited Costa Rica in the summer of 23 with Prof. Matt Fagan to collect training and validation data for mapping land use/cover and roads.</p>
  <img src="images/CR.png" alt="CR image">
  <p>Left: All collected road validation points in the Osa Peninsula (Costa Rica), Roads made of Asphalt and gravel from the nearby rivers 
    (that is why so many misclassifications between them!), me (happy) in Corcovado National Park, and (right) roads along oil palm plantations.</p>
</section>

{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}
